{% extends 'main.html.j2' %}

{% block title %}{% trans %}Notebook{% endtrans %}{% endblock title %}

{% block index %}
<script src="{{ static('notebook/js/notebook.js') }}"
        type="text/javascript" charset="utf-8"></script>
{% endblock index %}
