{% extends 'main.html.j2' %}

{% block title %}{% trans %}Timetable{% endtrans %}{% endblock title %}

{% block index %}
<link href="{{ static('timetable/css/timetable.css') }}" rel="stylesheet"
      type="text/css" />
<meta id="form-number" data-fn="{{form_number}}">
<script src="{{ static('timetable/js/timetable.js') }}"
        type="text/javascript" charset="utf-8"></script>
{% endblock index %}
