{% extends 'header.html.j2' %}

{% block title %}{% trans %}Sign in{% endtrans %}{% endblock title %}

{% block login %}
<link href="{{ static('account/css/login.css') }}" rel="stylesheet"
      type="text/css" />
<script src="{{ static('account/js/login.js') }}"
        type="text/javascript" charset="utf-8"></script>
{% endblock login %}
