{% extends 'base.html.j2' %}

{% block title %}{% trans %}Sign in{% endtrans %}{% endblock title %}

{% block login %}
<script src="{{ static('account/js/login.js') }}"
        type="text/javascript" charset="utf-8"></script>
{% endblock login %}
