{% extends 'start.html.j2' %}

{% block title %}{% trans %}Password reset confirmation{% endtrans %}{% endblock title %}

{% block password_reset_confirm %}
<link href="{{ static('account/css/password_reset.css') }}" rel="stylesheet"
      type="text/css" />
<script src="{{ static('account/js/password_reset_confirm.js') }}"
        type="text/javascript" charset="utf-8"></script>
{% endblock password_reset_confirm %}
