{% extends 'header.html.j2' %}

{% block title %}{% trans %}Password reset complete{% endtrans %}{% endblock title %}

{% block password_reset_complete %}
<script src="{{ static('account/js/password_reset_complete.js') }}"
        type="text/javascript" charset="utf-8"></script>
{% endblock password_reset_complete %}
