django==2.0.8
psycopg2==2.7.5
djangorestframework==3.9.0
django-jinja==2.4.1
django-babel==0.6.2
django-user-language-middleware==0.0.3
ddt==1.2.0
seleniumbase==1.16.15
pytest-django==3.4.3
mimesis==1.0.4
django-grappelli==2.11.1