html, body, .div_base {
    margin: 0;
    padding: 0;
}
html, body, #div_main {
    height: 100%
}
body {
    display: flex;
    flex-direction: column;
}

.webix_success div {
    background: #8f9;
}
.custom .webix_list_item {
    color: #FFFFFF;
}
