{% extends 'main.html.j2' %}

{% block title %}{% trans %}Main{% endtrans %}{% endblock title %}

{% block index %}
<script src="{{ static('school/js/index.js') }}"
        type="text/javascript" charset="utf-8"></script>
{% endblock index %}
