{% extends 'main.html.j2' %}

{% block title %}{% trans %}Diary{% endtrans %}{% endblock title %}

{% block index %}
<script src="{{ static('timetable/js/diary.js') }}"
        type="text/javascript" charset="utf-8"></script>
{% endblock index %}
