{% extends 'base.html.j2' %}

{% block header %}
<script src="{{ static('js/header.js') }}"
        type="text/javascript" charset="utf-8"></script>
{% block login %}{% endblock login %}
{% block password_reset %}{% endblock password_reset %}
{% block password_reset_sent %}{% endblock password_reset_sent %}
{% block password_reset_confirm %}{% endblock password_reset_confirm %}
{% block password_reset_complete %}{% endblock password_reset_complete %}
{% endblock header %}
