{% extends 'base.html.j2' %}

{% block main %}
<link href="{{ static('css/main.css') }}" rel="stylesheet"
      type="text/css" />
<script src="{{ static('js/main.js') }}"
        type="text/javascript" charset="utf-8"></script>
{% block account %}{% endblock account %}
{% block index %}{% endblock index %}
{% block timetable %}{% endblock timetable %}
{% block diary %}{% endblock diary %}
{% block notebook %}{% endblock notebook %}
{% endblock main %}
