{% extends 'base.html.j2' %}

{% block main %}
<script src="{{ static('js/main.js') }}"
        type="text/javascript" charset="utf-8"></script>
{% block account %}{% endblock account %}
{% block index %}{% endblock index %}
{% endblock main %}
